blue = #E4F1FE
blue2 = #81CFE0
blue3 = #67809F

red = #EC644B
red2 = #D91E18

btn-height = 60px

none-borders()
	border none
	outline none

body 
	background-color #EEEEEE
	color #333
	
#calculator
	position relative
	font-weight 100
	margin-left auto
	margin-right auto
	margin-top 30px
	width 300px
	background #fff
	box-shadow 12px 12px 30px -20px black	
	#screen-calc
		none-borders()
		max-width @width
		background-color blue
		color blue3
		padding 20px
		font-size 50px
		text-align right	
	#btns-container
		display flex
		flex-wrap wrap
		flex-direction row
		.btn-calc
			none-borders()
			cursor pointer
			height btn-height
			line-height btn-height
			text-align center
			width 25%
			font-size 30px
			transition-duration .3s
			background-color #fff
			&:hover
				background-color blue2
				color #fff
	#info-box
		opacity 0.1
		width @width
		text-align center
		padding 5px
		position absolute
		top 0
		right 00px
		background-color #fff
		img
			border-radius 100%
			width (@width / 2)px
::selection
	background-color blue
	color #fff
	