blue = #E4F1FE
blue2 = #81CFE0
blue3 = #67809F

red = #EC644B
red2 = #D91E18

btn-height = 60px

body 
	background-color #EEEEEE
	color #333
	
#calculator
	font-weight 100
	margin-left auto
	margin-right auto
	margin-top 30px
	max-width 300px
	background #fff
	box-shadow 12px 12px 30px -20px black	
	#screen-calc
		background-color blue
		color blue3
		padding 20px
		font-size 50px
		text-align right	
		height 100px
	#btns-container
		display flex
		flex-wrap wrap
		flex-direction row
		.btn-calc
			border none
			outline none
			cursor pointer
			height btn-height
			line-height btn-height
			text-align center
			width 25%
			font-size 30px
			transition-duration .3s
			background-color #fff
			&:hover
				background-color blue2
				color #fff
		.btn-plus
			color #fff
			background-color red
			&:hover
				background-color red2

::selection
	background-color blue
	color #fff
	